main {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__titulo {
    color: #4B69FD;
    font-size: 1.3em;
    font-weight: 600;
    text-align: center;
}



